@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/lib/Inscripcion.jpg" height="530">
</div>

<br>
<div class="text-center">
    <p>Para mas informacion visite <a href="https://www.isp20.edu.ar">nuestro sitio web</a>.</p>
</div>
