<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InscripcionWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inscripcion Web ISP20</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Carreras<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Carreras" asp-action="Index">Carreras</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Carreras" asp-action="Create">Nueva Carrera</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Carreras" asp-action="IndexEliminadas">Ver Carreras Eliminadas</a>
                                <li><hr class="dropdown-divider"></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Alumnos<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Alumnos" asp-action="Index">Alumnos</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Alumnos" asp-action="Create">Nuevo Alumno</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Alumnos" asp-action="IndexEliminados">Ver Alumnos Eliminados</a>
                                <li><hr class="dropdown-divider"></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Año de Cursado<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AñosCursados" asp-action="Index">Años de Cursado</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AñosCursados" asp-action="Create">Nuevo Año de Cursado</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AñosCursados" asp-action="IndexEliminados">Nuevo Año de Cursado</a>
                                <li><hr class="dropdown-divider"></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Materias<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Materias" asp-action="Index">Materias</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Materias" asp-action="Create">Nueva Materia</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Materias" asp-action="IndexEliminadas">Ver Materias Eliminadas</a>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscripción alumnos a carreras<span class="caret"></span></a>
                            <ul class="dropdown-menu">
<<<<<<< HEAD

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosCarreras" asp-action="Index">Alumnos por carrera</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosCarreras" asp-action="Create">Nueva inscripción a Carrera</a>
=======

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosCarreras" asp-action="Index">Alumnos por carrera</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosCarreras" asp-action="Create">Nueva inscripción a Carrera</a>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscripción Alumnos a Materias<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosMaterias" asp-action="Index">Alumnos por Materia</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosMaterias" asp-action="Create">Nueva inscripción a Materia</a>
>>>>>>> 17812bc65d23fedd14af6ccc124f465aafe66a42
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li>

<<<<<<< HEAD
                        @* <li class="dropdown">
                            <a href="#" class="nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscripción Alumnos a Materias<span class="caret"></span></a>
                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosMaterias" asp-action="Index">Alumnos por Materia</a>
                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="DetallesAlumnosMaterias" asp-action="Create">Nueva inscripción a Materia</a>
                                <li><hr class="dropdown-divider"></li>
                            </ul>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Alumnos" asp-action="IndexInscripcion">Inscripción a materias</a>
                        <li><hr class="dropdown-divider"></li>

=======
>>>>>>> 17812bc65d23fedd14af6ccc124f465aafe66a42
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - InscripcionWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
