@model InscripcionWeb.Models.Materia

@{
    ViewData["Title"] = "Restaurar";
}

<h1>Restaurar Materia</h1>

<h3>¿Estas seguro/a que deseas restaurar a la Materia?</h3>
<div>
    <h4>Restaurar Materia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="Restaurar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Restaurar" class="btn btn-success" /> |
        <a asp-action="IndexEliminadas">Regresar al listado</a>
    </form>
</div>
